<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
</head>
<body>
    <h1>Adding Book</h1>
	<form action="register" method="post">
    <label for="bookid">Book Id:</label></br>
    <input type="text" name="bookId"></br>
    <label for="bookname">Title:</label></br>
    <input type="text" name="bookname"></br>
    <label for="author">Author:</label></br>
    <input type="text" name="author"></br>
    <label for="isbn">ISBN: </label></br>
    <input type="text" name="bookId"></br>
    <label for="availability">available copies </label></br>
    <input type="" name="Availability"></br>
<button type = "submit">Submit</button>
</form>
</body>
</html>
